@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

.container__carpage {
    /* DIALOG */
    
    dialog {
        border: 2px solid #a1a1a150;
        box-shadow: 0px 1px 3px #a1a1a150;
        border-radius: 10px;
    }
    
    /* HEADER */
    
    header {
        height: 80px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    nav {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
    }
    
    .logo {
        margin-left: 40px;
        display: flex;
        justify-content: left;
        align-self: center;
    }
    
    .logo img {
        width: 120px;
        display: flex;
        align-self: center;
    }
    
    .options {
        display: flex;
        list-style: none;
        font-size: 13px;
        align-items: center;    
        height: 100%;
    }
    
    .options p {
        padding: 0px 8px;
    }
    
    .options .op {
        text-decoration: none;
        border: none;
        background-color: transparent;
        color: #000;
        transition: border-bottom 0.3s ease;
    }
    
    .options .op:hover {
        cursor: pointer;
        padding: 32px 0px;
        border-bottom: 8px solid #f6302f;
    }
    
    .sell {
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 900px;
        padding: 40px;
        box-shadow: 0px 0px 10px 6px #a1a1a150;
        border: none;
    }
    
    .sell-name {
        padding-bottom: 20px;
        text-align: center;
    }
    
    .sell-informations {
        margin: 20px 60px 40px 60px;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }
    
    .sell-informations p {
        padding: 20px 0px;
        width: 26%;
        box-sizing: border-box;
        font-weight: 700;
    }
    
    .sell-informations label {
        display: block;
        margin-bottom: 5px;
        font-weight: 500;
        color: #a1a1a1;
        font-size: 14px;
    }
    
    .sell-informations input {
        padding: 5px;
        border: 1px solid #a1a1a1;
        color: #a1a1a150;
        border-radius: 5px;
    }
    
    .sell-buttons {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 20px;
    }
    
    .sell-save, .sell-close {
        width: 200px;
        padding: 8px;
        border: none;
        font-weight: bolder;
        font-size: 16px;
        border-radius: 6px;
        background-color: #f6302f;
        color: #fff;
    }
    
    .sell-save:hover, .sell-close:hover {
        cursor: pointer;
    }
    
    .account-circle {
        border: none;
        background-color: transparent;
        width: 120px;
        margin-right: 40px;
        display: flex;
        justify-content: center;
    }
    
    .account-circle .material-symbols-outlined {
        font-size: 40px;
    }
    
    .account-circle
    span:hover {
        cursor: pointer;
    }
    
    .profile {
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 600px;
        padding: 40px;
        box-shadow: 0px 0px 10px 6px #a1a1a150;
        border: none;
    }
    
    .profile-name {
        padding-bottom: 20px;
        text-align: center;
    }
    
    .profile-information {
        color: #a1a1a1;
    }
    
    .profile-information p {
        padding: 10px 0px;
    }
    
    .profile-information span {
        color: #000;
    }
    
    .profile-cars {
        text-align: center;
    }
    
    .profile-cars a {
        text-decoration: none;
        color: #000;
    }
    
    .profile-cars p {
        font-size: 15px;
        font-weight: 600;
        padding: 10px 0px;
    }
    
    .profile-cars .color {
        color: #f6302f;
    }
    
    .vehicles-advertised {
        padding: 30px 0px 20px 0px  ;
    }
    
    .profile-buttons {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 20px;
        padding-top: 40px;
    }
    
    .profile-close, .profile-pdf {
        width: 200px;
        padding: 8px;
        border: none;
        font-weight: bolder;
        font-size: 16px;
        border-radius: 6px;
        background-color: #f6302f;
        color: #fff;
    }
    
    .profile-close:hover {
        cursor:pointer;
    }
    
    /* MAIN */
    
    main {
        background-color: #ecedf2;
    }
    
    .carousel-container {
        display: flex;
        overflow-x: auto;
        scroll-snap-type: x mandatory;
        -webkit-overflow-scrolling: touch;
        scroll-behavior: smooth;
        height: 400px;
        scrollbar-width: none;
        cursor: pointer;
    }
    
    .carousel-container::-webkit-scrollbar {
        display: none;
    }
    
    .carousel-image {
        width: 60vw; 
        scroll-snap-align: start;
    }
    
    .carousel-image img {
        object-fit: cover;
        cursor: pointer;
    }
    
    .navigation-buttons {
        position: absolute;
        top: 250px;
        width: 100%;
        display: flex;
        justify-content: space-between;
        pointer-events: none;
    }
    
    .navigation-buttons button {
        background-color: rgba(0, 0, 0, 0.5);
        border: none;
        color: white;
        font-size: 20px;
        padding: 10px;
        cursor: pointer;
        pointer-events: all;
    }
    
    .fullscreen-img {
        display: none;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.9);
        justify-content: center;
        align-items: center;
        z-index: 9999;
    }
    
    .fullscreen-img img {
        max-width: 90vw;
        max-height: 90vh;
    }
    
    .fullscreen-img .close {
        position: absolute;
        top: 20px;
        right: 20px;
        color: white;
        font-size: 30px;
        cursor: pointer;
    }
    
    .car-information {
        display: flex;
        justify-content: space-between;
    }
    
    .specifications {
        margin: 40px;
        background-color: #fff;
        width: 800px;
        border-radius: 20px;
    }
    
    .car-title {
        padding: 60px 60px 20px 60px;
        font-size: 30px;
        font-weight: 700;
    
        border-right: 4px solid #e0e0e0;
        width: 40ch;
        white-space: nowrap;
        overflow: hidden;
        animation: typing 2s steps(40),
        blinking 2s infinite step-end alternate;
    }
    
    .car-title .color {
        color: #f6302f;
    }
    
    .informations {
        margin: 20px 60px 60px 60px;
        display: flex;
        flex-wrap: wrap;
    }
    
    .informations p {
        padding: 20px 0px;
        width: 50%;
        box-sizing: border-box;
        font-weight: 700;
    }
    
    .informations span {
        display: block;
        margin-bottom: 5px;
        font-weight: 100;
        color: #a1a1a1;
    }

    .items {
        margin: 20px 60px 0px 60px;
        font-size: 24px;
    }

    .adicional-items {
        margin: 20px 60px 20px 60px;
        display: flex;
        flex-wrap: wrap;
        gap: 20px;
    }

    .adicional-items ul {
        padding: 20px 0px;
        width: 30%;
        box-sizing: border-box;
        font-weight: 700;
    }
    
    .value-and-contact {
        margin: 40px;
        width: 400px;
        background-color: #fff;
        text-align: center;
        border-radius: 20px;
    }
    
    .value {
        margin: 60px 20px 60px 20px;
        font-size: 30px;
    }
    
}

@keyframes typing {
    from {
        width: 0;
    }
}

@keyframes blinking {
    0% {
        border-color: transparent;
    }
}
