<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="logged-out.css">
    <script src="../script.js"></script>
    
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
</head>
<body>
    <header>
        <nav>
            <div class="logo">
                <a href="#"><img src="../logo-stego.png" alt=""></a>
            </div>
    
            <div class="options">
                <button class="op">
                    <p>Comprar</p>
                </button>
                <button class="op sell-button">
                    <p>Vender</p>
                </button> 
                <dialog class="sell">
                    <div class="sell-name">
                        <h3>Conecte-se a uma conta para conseguir anunciar conosco</h3>
                    </div>
                    <div class="sell-buttons">
                        <button class="sell-close">OK</button>
                    </div>
                </dialog>
                <button class="op">
                    <p>Suporte</p>
                </button>
            </div>
            
            <div class="connect">
                <button class="login-button">Entrar</button>
                <dialog class="login">
                    <div class="login-name">
                        <h1>Entrar</h1>
                    </div>
                    <div class="login-information">
                        <p><span>Email: </span>
                            <input type="number" name="cpf" id="CPF" required></p>

                        <p><span>Senha: </span>
                            <input type="password" name="telefone" id="telefone" required></p>
                    </div>
                    <div class="enter-buttons">
                        <button class="enter">OK</button>
                        <button class="register-button register-button-login">Criar Conta</button>
                    </div>
                </dialog>
                <button class="register-button">Criar Conta</button>
                <dialog class="register">
                    <div class="register-name">
                        <h1>Registrar</h1>
                    </div>
                    <div class="register-information">
                        <p><span>Nome: </span>
                            <input type="text" name="nome" id="name" required></p>
    
                        <p><span>CPF: </span>
                            <input type="number" name="cpf" id="CPF" required></p>
    
                        <p><span>Email: </span>
                            <input type="text" name="email" id="email" required></p>
    
                        <p><span>Telefone: </span>
                            <input type="text" name="telefone" id="telefone" required></p>

                        <p><span>Senha: </span>
                            <input type="password" name="telefone" id="telefone" required></p>
                    </div>
                    <div class="register-buttons">
                        <button class="register-now">OK</button>
                    </div>
                </dialog>
            </div>
            <dialog class="profile">
                <div class="profile-name">
                    <h1>Meu Perfil</h1>
                </div>
                <div class="profile-information">
                    <p><span>Nome: </span>Breno</p>
                    <p><span>CPF: </span>999.999.99-99</p>
                    <p><span>Email: </span>breno@gmail.com</p>
                    <p><span>Telefone: </span>(84) 99999-9999</p>
                </div>
                <div class="profile-cars">
                    <h3 class="vehicles-advertised">Veículos Anunciados</h3>
                    <a href="car-page.html">
                        <p>LAND ROVER <span class="color">RANGE ROVER VELAR</span></p>
                    </a>
                </div>
                <div class="profile-buttons">
                    <button class="profile-close">OK</button>
                    <button class="profile-pdf">Gerar PDF</button>
                </div>
            </dialog>
        </nav>
    </header>
</body>
</html>